<%- include('header') -%>
<h2>About Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit repellat, iure reiciendis quisquam itaque eos dicta explicabo eum? Minus, illo dolorem labore reprehenderit autem ducimus. Cupiditate corrupti veritatis nisi blanditiis.</p>
<%- include('footer') -%>